<div class="container">
  <h1>Would you like to join bootcamp to make BLOGS and have awesome pawsome ASSESSMENTS?!?!?! If yes, SIGN UP!</h1>
  <p>Please key your name, email and a password for registration purposes</p>

  <form action='/sign_up' method='post'>
  <input area="text" name="user[name]" placeholder="Key in full name">
  <input area="text" name="user[email]" placeholder="Key in email">
  <input area="text" name="user[password]" placeholder="Key in password">
  <br>
  <br>
  <input type="submit" value="Submit!">
  </form>