<div class="container">
  <h1>Welcome to Blogger!</h1>
  <p>Please key in your email and password</p>
  <br>
  <br>
  <form action='/sign_in' method='post'>
  <input area="text" name="email" placeholder="Key in email">
  <input area="text" name="password" placeholder="Key in password">
  <br>
  <br>
  <input type="submit" value="Submit!">
  </form>

  <a href = "/create_account">Create an Account</a>
</div>